# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.awcache

.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
coverage
node_modules/
build/
bin/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
.idea
.idea/
*.sqlite
src/utils/markups/

.vscode
